.home5 {
  background: linear-gradient(180.03deg, #BDD44D 35.21%, #0087C4 97.39%);
  @include margin-mobile();
  
  &-left {
    // height: 380px;
    span {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 39px;
      /* or 98% */

      letter-spacing: -1.8px;

      color: #ffffff;
    }
  }

  .home5-center {
    height: 220px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    h4 {
      font-family: 'Montserrat';
      font-style: normal;
      font-size: 1.2rem;
      letter-spacing: -0.5px;
      color: #ffffff;
      font-weight: 300;
    }
    span {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 39px;
      letter-spacing: -1.8px;
      color: #ffffff;
    }
  }

  .texto-1{
    p{
      color: #ffffff;
    }
    li{
      color: #ffffff;
      font-size: 25px;
    }
    .btn {
      background: #ff8a07;
      border-radius: 37px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #ffffff;
      padding: 10px 20px;
    }
    .btn:hover{
      box-shadow: 0px 0px 7px 1px #ff9900;
    }
  }

  .texto-2{
    img{
      border-radius: 15px;
      max-width: 290px;
    }
  }
}


@include media-breakpoint-up(lg) {
  
  .home5 {
    @include margin-general();
    &-left {
      height: 380px;
    }
    .texto-2{
      img{
        max-width: 420px;
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1200px){
  .home5 {
    @include margin-general();
    .texto-2{
      img{
        max-width: 311px;
      }
    }
  }
  .home5 {
    @include margin-general();
    
    &-left {
      height: 280px;
      span {
        font-size: 30px;
      }
    }
    
    .texto-1{
      li{
        font-size: 1.2rem;
      }
      .btn {
        font-size: 0.8rem;
        padding: 2px 20px;
      }
    }

  }
}